* {
   /*  outline: 1px red solid; */
}

.about {
    width: 95vw;
    gap: 2px;
    color: var(--font-primary);
    display: flex;
}

.about > div {
    background-color: var(--bg-primary);
    border-radius: 30px;
}

/*--------- first div ---------*/
.about > div:first-child {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5%;
}

.about > div:first-child > img {
    width: clamp(100px, 50vw, 180px);
    aspect-ratio: 1 / 1;
    background-color: var(--gray1);
}

.about > div:first-child > p { 
    text-align: justify;
    text-justify: inter-character;
    text-indent: 1.5rem;
}

/*--------- last div ---------*/
.about > div:last-child {
    flex: 2;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 3%;
    gap: 1.5rem;
    line-height: 1.8;
}

/*header*/
.about-section > h2 {
    font-size: 1.5rem;
    font-size: clamp(1rem, 2cqw, 1.5rem);
    color: var(--accent1);
    font-weight: 300;
    text-transform: uppercase;
}

/*org name*/
.about-section:is(:first-child, :nth-child(2)) > p:nth-child(2){
    font-size: 1.3rem;
    font-size: clamp(1rem, 2cqw, 1.3rem);
    margin-left: 5%;
    font-weight: bold;
    line-height: 0.5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.about-section:is(:first-child, :nth-child(2)) > p:nth-child(2) > span{
    flex-shrink: 0;
    min-width: 100px;
    text-align: right;
}

/*secondary*/
.about-section > p:nth-child(3),
.about-section:last-child p  {
    font-size: clamp(1rem, 2cqw, 1.2rem);
    margin-left: 5%;
    font-style: italic;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*date*/
.about-section > p:nth-child(3) > span, 
.about-section:last-child p > span {
    color: var(--font-secondary);

    flex-shrink: 0;
    min-width: 100px;
    text-align: right;
}

.about-section ul {
    margin-left: 7%;
    font-size: 1rem;
    font-size: clamp(0.8rem, 2cqw, 1rem);
    color: var(--font-secondary);
}

@media (max-width: 800px) {   
    .about {
        flex-direction: column;
    }

    /*org name*/
    .about-section:is(:first-child, :nth-child(2)) > p:nth-child(2){
        line-height: 1;
    }

    /*secondary*/
    .about-section > p:nth-child(3),
    .about-section:last-child p  {
        line-height: 1;
        margin-bottom: 10px;
    }

    .about-section ul > li{
        line-height: 1;
        margin-bottom: 10px;
    }
}