.about {
    width: 95vw;
    gap: 2px;

    display: flex;
}

.about > div {
    background-color: var(--white2);
    border-radius: 20px;
}

.about > div:first-child {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about > div:first-child > img {
    width: 200px;
    height: 200px;
    background-color: var(--gray1);
}

.about > div:first-child > p {  
    width: 80%;
    text-align: justify;
    text-justify: inter-character;
    text-indent: 1.5rem;
}

.about > div:last-child {
    flex: 2;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 3%;
    gap: 1.5rem;
    line-height: 1.8;
}

.about-section > h2 {
    font-size: 1.5rem;
    color: var(--purple1);
    font-weight: 300;
    text-transform: uppercase;
}

.about-section:is(:first-child, :nth-child(2)) > p:nth-child(2){
    font-size: 1.3rem;
    margin-left: 5%;
    font-weight: bold;
    line-height: 0.5;

    display: flex;
    justify-content: space-between;
}

.about-section > p:nth-child(3),
.about-section:last-child p  {
    margin-left: 5%;
    font-style: italic;

    display: flex;
    justify-content: space-between;
}

.about-section > p:nth-child(3) > span, 
.about-section:last-child p > span {
    color: var(--gray3);
}

.about-section ul {
    margin-left: 7%;
    font-size: 1rem;
    color: var(--gray3);
}