@media(prefers-reduced-motion: no-preference){
  /* ------------- Nav section ------------- */
  nav > div:first-child{
    animation: reveal 0.5s ease-out;
  }

  nav > ul {
    animation: reveal 0.7s ease-out;
  }

  nav > ul > li:nth-child(1) {
    animation: reveal 0.7s ease-out;
    animation-delay: 0s;
  }

  nav > ul > li:nth-child(2) {
    animation: reveal 0.7s ease-out;
    animation-delay: 0.1s;
  }

  nav > ul > li:nth-child(3) {
    animation: reveal 0.7s ease-out;
    animation-delay: 0.2s;
  }

  nav > ul > li:nth-child(4) {
    animation: reveal 0.7s ease-out;
    animation-delay: 0.3s;
  }

  nav > button{
    animation: reveal 1s ease-out;
  }
  /* ------------- Hero section ------------- */
  .hero > h1{
    animation: reveal 1s ease-out;
  }
  
  .hero > h1 > em{
    animation: reveal 1s ease-out;
    animation-delay: 0.2s;
  
  }
  
  .hero > h1 > em > span{
    animation: reveal 1s ease-out;
    animation-delay: 0.4s;
  }
  
  .hero > p {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.8s;
  
  }
  
  .hero > button {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
  }
}

@keyframes fadeIn {
  0% {
    filter: blur(5px);
    opacity: 0;
  }
  70%{
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-50%)
  }
  70%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-60%)
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in{
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.3s ease;
}


.fade-in.appear{
    opacity: 1;
    filter: blur(0);
}

.move-out{
    opacity: 0;
}

.move-out.move-in{
    animation: fadeInAnim 0.5s ease-out forwards;    
}

.move-out.move-in:nth-child(1){
    animation-delay: 0.1s;
}

.move-out.move-in:nth-child(2){
    animation-delay: 0.2s;
}

.skills > div:nth-child(2) .move-out.move-in{
    animation-delay: 0.5s;
}

 @keyframes fadeInAnim {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0.5;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* Project section delay */
#projects-section .normal:nth-child(1){ animation-delay: 0.1s; }
#projects-section .normal:nth-child(2){ animation-delay: 0.2s; }
#projects-section .normal:nth-child(3){ animation-delay: 0.3s; }
#projects-section .normal:nth-child(4){ animation-delay: 0.4s; }
#projects-section .normal:nth-child(5){ animation-delay: 0.5s; }
#projects-section .normal:nth-child(6){ animation-delay: 0.6s; }
#projects-section .normal:nth-child(6){ animation-delay: 0.7s; }

.normal {
  opacity: 0;
}

.image-animation {
  animation: enter-animation 0.8s 1 forwards;
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}