@media(prefers-reduced-motion: no-preference){
  /* ------------- Nav section ------------- */
  nav > div:first-child{
    animation: reveal-down 0.5s ease-out;
  }

  nav > ul {
    animation: reveal-down 0.7s ease-out;
  }

  nav > ul > li:nth-child(1) {
    animation: reveal-down 0.7s ease-out;
    animation-delay: 0s;
  }

  nav > ul > li:nth-child(2) {
    animation: reveal-down 0.7s ease-out;
    animation-delay: 0.1s;
  }

  nav > ul > li:nth-child(3) {
    animation: reveal-down 0.7s ease-out;
    animation-delay: 0.2s;
  }

  nav > ul > li:nth-child(4) {
    animation: reveal-down 0.7s ease-out;
    animation-delay: 0.3s;
  }

  nav > button{
    animation: reveal-down 1s ease-out;
  }
  /* ------------- Hero section ------------- */
  .hero {
    animation: moveDown linear;
    animation-timeline: view();
    animation-range: cover 52%, exit 100%;
  }

  .hero > h1{
    animation: reveal-down 1s ease-out;
  }
  
  .hero > h1 > em{
    animation: reveal-down 1s ease-out;
    animation-delay: 0.2s;
  
  }
  
  .hero > h1 > em > span{
    animation: reveal-down 1s ease-out;
    animation-delay: 0.4s;
  }
  
  .hero > p {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    animation-delay: 0.6s;
  
  }
  
  .hero > a {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    animation-delay: 1s;
  }

  /* ------------- about section ------------- */
  .pre-appear {
    opacity: 0;
  }

  .appear-up{
    animation: reveal-up 0.5s forwards;
  }

  /* ------------- skills section ------------- */
  .appear-right {
    animation: reveal-right 0.5s forwards;
  }

  /* ------------- project section ------------- */
  #projects-section .pre-appear:nth-child(odd){ animation-delay: 0.1s; }
  #projects-section .pre-appear:nth-child(even){ animation-delay: 0.2s; }


  /* ------------- skills section ------------- */
  #contact-section  .appear-right {
      animation: reveal-right 0.5s forwards;
  }

  #contact-section > div:last-child > img{
    animation: rotate 10s linear infinite;
  }
}

#contact-section > div:last-child > img:hover{
  animation-play-state: paused;
}

@keyframes reveal-right {
  0% {
    opacity: 0;
    transform: translateX(-10%)
  }
  70%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-up{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.7;
  } 
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    filter: blur(5px);
    opacity: 0;
  }
  70%{
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes reveal-down {
  0% {
    opacity: 0;
    transform: translateY(-50%)
  }
  70%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(70%); 
  }
}


/* animation sheet */
/* move to hero */
.hero {
  position: relative;
  z-index: 0;
}

main > div {
  position: relative;
  z-index: 1;
}

