*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: var(--font1);
    font-weight: 400;
    background-color: var(--white2);
    background-image: radial-gradient(var(--gray1) 2px, var(--white2) 1px);
    background-size: 50px 50px;
}


footer {
    font-size: 1rem;
    border-radius: 20px;
    border: 2px solid var(--black1);
    background-color: var(--white1);
    min-height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
}