html {
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: var(--font1);
    font-weight: 400;
    background-color: var(--bg-primary);
    background-image: radial-gradient(var(--bg-darker) 2px, var(--bg-primary) 1px);
    background-size: 50px 50px;
}

main > div {
    overflow: hidden;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

/* section { 
    scroll-margin-top: 50px;
} */

footer {
    color: var(--font-primary);
    width: 95vw;
    min-height: 8vh;
    font-size: 1rem;
    border-radius: 20px 20px 0 0;
    background-color: var(--bg-primary);
    letter-spacing: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- main scroll bar ----- */
/* outside of root scope */
::-webkit-scrollbar{
    background: var(--black2);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--purple1);
}

html {
    /* scrollbar-gutter: stable; */
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) var(--bg-primary);
}


/* animation sheet */

/* main {
    view-timeline-name: --main;
    view-timeline-axis: y;   
}

html {
    view-timeline-name: --html;
    view-timeline-axis: y;   
} */

.hero {
    position: relative;
    z-index: 0;
    animation: moveDown linear;
    animation-timeline: view();
    animation-range: cover 52%, exit 100%;
}
/* 
#about-section{
    position: relative;
    animation: fadeIn linear;
    animation-timeline: view(self);
    animation-range: entry 0% entry 80%;
} */

main > div {
    position: relative;
    z-index: 1;
}

@keyframes moveDown {
    0% {transform: translateY(0); }
    100% {transform: translateY(70%); }
}

/* @keyframes fadeIn{
    0% {
        scale: 0.8;
    }
    100% {
        scale: 1;
    }
} */