html {
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: var(--font1);
    font-weight: 400;
    background-color: var(--bg-primary);
    background-image: radial-gradient(var(--dots) 2px, var(--bg-primary) 1px);
    background-size: 50px 50px;
}

main > div {
    overflow: hidden;
    background-color: var(--bg-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

/* section { 
    scroll-margin-top: 50px;
} */

/* ---------- Footer ---------- */

footer {
    color: var(--font-primary);
    background-color: var(--bg-primary);
    font-size: clamp(12px, 4vw, 20px);

    width: 95vw;
    min-height: 8vh;
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Main Scroll Bar ---------- */

/* Mozilla fallback */
html:has(#root[data-theme="light"]) {
    /* scrollbar-gutter: stable; */
    scrollbar-width: thin;
    scrollbar-color: var(--purple1) var(--black2);
}

html:has(#root[data-theme="dark"]) {
    /* scrollbar-gutter: stable; */
    scrollbar-width: thin;
    scrollbar-color: var(--blue2) var(--gray4);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar{
    width: 10px;
}

html:has(#root[data-theme="light"]) ::-webkit-scrollbar{
    background: var(--black2);
}

html:has(#root[data-theme="light"]) ::-webkit-scrollbar-thumb{
    background-color: var(--purple1);
}

html:has(#root[data-theme="dark"]) ::-webkit-scrollbar{
    background: var(--gray4);
}

html:has(#root[data-theme="dark"]) ::-webkit-scrollbar-thumb{
    background-color: var(--blue2);
}



