* {
   /*  outline: 1px solid red; */
}

.contact {
    width: 95vw;
    min-height: 60vh;
    border-radius: 20px;
    font-size: 2rem;

    display: flex;
    gap: 2px;
}

.contact > div {
    background-color: var(--white2);
    border-radius: 20px;
}

/* ---------- Right Content ---------- */
.contact > div:last-child{
    flex: 0.6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > div:last-child > img{
    width: 50%;
}

.contact > div:last-child > img:hover{
    animation-play-state: paused;
}

@media (prefers-reduced-motion: no-preference){
    .contact > div:last-child > img{
        animation: rotate 10s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* ---------- Left Content ---------- */
.contact > div:first-child{
    flex: 1;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact > div:first-child p:is(:first-child, p:nth-child(2)) {
    text-transform: uppercase;
}

.contact > div:first-child > p:first-child {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 15px;
    padding-left: 10px;
    margin-bottom: -1rem;
}

.contact > div:first-child > p:nth-child(2) {
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.contact > div:first-child > a {
    line-height: 3rem;
    color: var(--gray3);
    text-decoration: none;
}

.contact > div:first-child > a:nth-child(3){
    letter-spacing: 12px;
}

.contact > div:first-child > a:nth-child(4){
    letter-spacing: 6.3px;
}

.contact > div:first-child > a:nth-child(5){
    letter-spacing: 5.1px;
}

.contact > div:first-child > a:nth-child(6){
    letter-spacing: 2.6px;
}

.contact > div:first-child a:is(:nth-child(3),:nth-child(5))::after,
.contact > div:first-child a:is(:nth-child(4),:nth-child(6))::before {
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content:"";
}

.contact > div:first-child a:is(:nth-child(3),:nth-child(5))::after {
    margin-left: 5px;
}

.contact > div:first-child a:is(:nth-child(4),:nth-child(6))::before {
    margin-right: 15px;
}

.contact > div:first-child > a:nth-child(3)::after {
    background-image: url('../assets/phone.svg');
}

.contact > div:first-child > a:nth-child(4)::before {
    background-image: url('../assets/email.svg');
}

.contact > div:first-child > a:nth-child(5)::after {
    background-image: url('../assets/github.svg');
}

.contact > div:first-child > a:nth-child(6)::before {
    background-image: url('../assets/linkedin.svg');
}
