#contact-section {
    width: 95vw;
    min-height: 40vh;
    border-radius: var(--radius);
    font-size: clamp(1.2rem, 3cqw, 2rem);
    color:var(--font-primary);

    display: flex;
    gap: var(--gap);
}

#contact-section > div {
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    padding: 2rem 0;
}

/* ---------- Right Content ---------- */
#contact-section > div:last-child{
    flex: 0.6;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    min-height: 130px;
    overflow: hidden;
    padding: 5px;
}

/* rotating text */
#contact-section > div:last-child > img{
    /* width: clamp(100px, 30cqw, 300px); */
    width: 60%;
    max-width: 300px;

    position: absolute;
    z-index: 1;
}

html:has(#root[data-theme="dark"]) #contact-section > div:last-child > img {
    filter: invert(17%) sepia(90%) saturate(6379%) hue-rotate(235deg) brightness(99%) contrast(106%);
}

/* winking emoji */
#contact-section > div:last-child > span{
    text-align: center;
    /* font-size: 300%; */
    font-size: clamp(50px, 8vw ,130px);
}

/* ---------- Left Content ---------- */
#contact-section > div:first-child{
    flex: 1;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-section > div:first-child p:is(:first-child, p:nth-child(2)) {
    text-transform: uppercase;
}

/* "Philippines" */
#contact-section > div:first-child > p:first-child {
    font-size: 3rem;
    font-size: clamp(1.3rem, 4cqw, 3rem);
    letter-spacing: clamp(10px, 1.2cqi, 14px);
    font-weight: 800;
    padding-left: 10px;
    margin-bottom: 0.2rem;
}

/* "Antips" */
#contact-section > div:first-child > p:nth-child(2) {
    font-size: 2.3rem;
    font-size: clamp(1.35rem, 3.6cqw, 2.3rem);
    letter-spacing: clamp(0.15px, 0.15cqi, 2.5px);
    font-weight: 400;
    margin-bottom: 1rem;
}

/* links */
#contact-section > div:first-child > a {
    line-height: 3rem;
    color: var(--font-tertiary);
    text-decoration: none;
}

/* number */
#contact-section > div:first-child > a:nth-child(3){
    letter-spacing: clamp(5px, 0.8cqi, 12px);
}

/* email */
#contact-section > div:first-child > a:nth-child(4){
    letter-spacing: clamp(2.3px, 0.43cqi, 6.3px);
}

/* github */
#contact-section > div:first-child > a:nth-child(5){
    letter-spacing: clamp(1.1px, 0.32cqi, 5.1px);
}

/* linkedin */
#contact-section > div:first-child > a:nth-child(6){
    letter-spacing: clamp(0.3px, 0.16cqi, 2.6px);
}

/* icons */
#contact-section > div:first-child a:is(:nth-child(3),:nth-child(5))::after,
#contact-section > div:first-child a:is(:nth-child(4),:nth-child(6))::before {
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    display: inline-block;
    width: clamp(1rem, 3cqw, 1.5rem);
    aspect-ratio: 1/1;
    content:"";
}

#contact-section > div:first-child a:is(:nth-child(3),:nth-child(5))::after {
    margin-left: 0.25cqi;
}

#contact-section > div:first-child a:is(:nth-child(4),:nth-child(6))::before {
    margin-right: 0.70cqi;
}

#contact-section > div:first-child > a:nth-child(3)::after {
    background-image: url('../assets/phone.svg');
}

#contact-section > div:first-child > a:nth-child(4)::before {
    background-image: url('../assets/email.svg');
}

#contact-section > div:first-child > a:nth-child(5)::after {
    background-image: url('../assets/github.svg');
}

#contact-section > div:first-child > a:nth-child(6)::before {
    background-image: url('../assets/linkedin.svg');
}

@media(max-width: 800px){
    #contact-section > div:last-child > img{
        /* width: clamp(115px, 18cqmin, 150px); */
         width: clamp(110px, 18vw , 120px);
    }

    #contact-section {  
        display: flex;
        flex-direction: column;
    }

    #contact-section > div:first-child > p:first-child,
    #contact-section > div:first-child > p:nth-child(2)
    {
        margin-bottom: 0;
    }

    #contact-section > div:first-child > a {
        line-height: 1.8rem;
    }
}
