.hero {
    min-height: 80vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.hero > h1 {
    color: var(--font-tertiary);
    font-size: 2rem;
    font-weight: 400;
}

.hero > h1::before{
    content: "👋";
} 

.hero > h1 > em{
    color: var(--font-primary);
    display: block;
    font-size: 5rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.hero > h1 > em > span{
    line-height: 0.6;
    font-size: 14rem;
    display: block;
}

.hero > p {
    font-size: 1.2rem;
    max-width: 50ch;
    margin-top: 2rem;
    color: var(--accent1);
}

.hero > a {
    color: var(--black1);
    background-color: var(--white1);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9rem 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    text-decoration: none;

    border: 2px solid var(--border);
    box-shadow: 3px 3px 0px 0px var(--shadow);
    -webkit-box-shadow: 3px 3px 0px 0px var(--shadow);
    -moz-box-shadow: 3px 3px 0px 0px var(--shadow);

    transition: background-color 0.2s ease-out;
}

.hero > a:hover {
    background-color: var(--accent2);
}

.hero > a:visited {
    color: var(--black1);
}

@media(max-width: 600px){
    .hero {
        min-height: 75vh;
    }

    .hero > h1 {
        font-size: clamp(1.1rem, 5cqi, 2rem);
    }

    .hero > h1 > em{
        font-size: clamp(2rem, 13cqi, 5rem);
    }

    .hero > h1 > em > span {
        font-size: clamp(5.7rem, 36cqi, 14rem);
    }

    .hero > p {
        font-size: clamp(0.7rem, 3cqi, 1.2rem);
        max-width: 50ch;
    }

    .hero > a {
        font-size: clamp(0.8rem, 3cqi, 1.2rem);
        padding: clamp(0.5rem, 2.33vw + 0.0625rem, 0.9375rem) clamp(0.625rem, 2vw + 0.25rem, 1rem);
    }
}