.hero {
    min-height: 80vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.hero > h1 {
    color: var(--gray3);
    font-size: 2rem;
    font-weight: 400;
}

.hero > h1::before{
    content: "👋";
} 

.hero > h1 > em{
    color: var(--black1);
    display: block;
    font-size: 5rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.hero > h1 > em > span{
    line-height: 0.6;
    font-size: 14rem;
    display: block;
}

.hero > p {
    font-size: 1.2rem;
    max-width: 50ch;
    margin-top: 2rem;
    color: var(--purple1);
}

.hero > button {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: var(--orange1);
    border-radius: 10px;
    border: 2px solid black;
}