.hero {
    min-height: 80vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.hero > h1 {
    color: var(--font-secondary);
    font-size: 2rem;
    font-weight: 400;
}

.hero > h1::before{
    content: "👋";
} 

.hero > h1 > em{
    color: var(--font-primary);
    display: block;
    font-size: 5rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.hero > h1 > em > span{
    line-height: 0.6;
    font-size: 14rem;
    display: block;
}

.hero > p {
    font-size: 1.2rem;
    max-width: 50ch;
    margin-top: 2rem;
    color: var(--accent1);
}

.hero > button {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: var(--accent2);
    border-radius: 10px;
    border: 2px solid var(--bg-secondary);
}

@media(max-width: 600px){
    .hero {
        min-height: 75vh;
    }

    .hero > h1 {
        font-size: clamp(1.1rem, 5cqi, 2rem);
    }

    .hero > h1 > em{
        font-size: clamp(2rem, 13cqi, 5rem);
    }

    .hero > h1 > em > span {
        font-size: clamp(5.7rem, 36cqi, 14rem);
    }

    .hero > p {
        font-size: clamp(0.7rem, 3cqi, 1.2rem);
        max-width: 50ch;
    }

    .hero > button {
        font-size: clamp(0.8rem, 3cqi, 1.2rem);
       /*  padding: 3cqi 5cqi; */
       padding: clamp(0.5rem, 3cqi, 1rem) clamp(1rem, 4cqi, 2rem);
    }
}