@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --font1: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --yellow1: #FCFD96;
  --yellow2: #FCFD96;
  --orange1: #FF8652;
  --purple1: #9723C9;
  --black1: #000000;
  --gray1: #313131;
  --white1: #FFFAEA;
  --white2: #e3dfd3;
}
