@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font1: 'Hanken Grotesk', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --space: '2rem';
  --radius: '30px';

  --white1: #EDEDED;

  --black1: #000000;
  --black2: #1B1B1B;
  --black3: #121212;

  --gray0: #dfdfdf;
  --gray1: #D2D2D2;
  --gray2: #A5A5A5;
  --gray3: #5A5A5A;
  --gray4: #2C2C2C;

  --orange1: #ff7a41;
  --purple1: #6216FF;
  --blue1: #1282FF;
  --blue2: #103FFF;
  --red1: #DD2231;

  --radius: 25px;
  --gap: 2px;

}

#root[data-theme="light"]{
  --bg-primary: var(--white1);
  --bg-secondary: var(--black2);
  --bg-tertiary: var(--gray0);

  --font-primary: var(--black2);
  --font-secondary: var(--white1);
  --font-tertiary: var(--gray3);

  --accent1: var(--purple1);
  --accent2: var(--orange1);

  --border: var(--black2);
  --shadow: var(--black2);

  --dots: var(--gray1);
}

#root[data-theme="dark"]{
  --bg-primary: var(--black2);
  --bg-secondary: var(--gray4);
  --bg-tertiary: var(--black3);

  --font-primary: var(--white1);
  --font-secondary: var(--black2);
  --font-tertiary: var(--gray2);

  --accent1: var(--blue1);
  --accent2: var(--red1);

  --border: var(--gray4);
  --shadow: var(--gray3);

  --dots: var(--black1);
}
