nav {
    color: var(--font-primary);
    font-size: 1.2rem;
    /* min-height: 11vh; */
    min-height: 90px;
    padding: 0 2rem;
    position: relative;
   
    display: grid;
    grid-template-columns: 0.1fr 1.5fr 0.1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

/* --------------- website title ---------------*/
nav > div { 
    grid-column: 1 / 2;

    background-color: var(--font-primary);
    color: var(--font-secondary);
    font-weight: 400;
    width: 85px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: opacity 0.5s, transform 0.3s;
}

/* CJ */
nav > div > span:first-child::after{ 
   content: "🤘";
}

/* Cepe */
nav > div > span:last-child{ 
    letter-spacing: 1.5px;
 }
 

/* --------------- list ---------------*/
nav > ul {
    grid-column: 2 / 3;
    align-self: center;

    list-style-type: none;
    margin: 0;
    margin-right: auto;
    margin-left: 1.5rem;
    padding: 0 0.5rem;
    height: 50%;
    border-radius: var(--radius);
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    transition: border 0.2s;
}

nav a {
    text-decoration: none;
    color: var(--font-primary);
}

nav > ul > li {
   border-radius: var(--radius);
   padding: 3px 10px;
   transition: background-color 0.2s ease-out;
}

/* --------------- light mode button ---------------*/
nav > button {
    cursor: pointer;
    grid-column: 3 / 4;
    align-self: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 0 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s, transform 0.2s;
}

nav > button > img {
    width: 60px;
    height: auto;
}

nav > button > img[src="/src/assets/moon.svg"] {
    width: 45px;
    filter: invert(17%) sepia(90%) saturate(6379%) hue-rotate(235deg) brightness(99%) contrast(106%);
}

nav > button:hover{
    transform: scale(1.2);
}

/* --------------- Sticky --------------- */
.sticky{
    position: sticky;
    left: 0px; 
    top: 0px;
    z-index: 999 !important;
}

.styled-list {
    background-color: var(--bg-primary);
    border: 2px solid var(--bg-secondary);
    /* padding:0 1rem; */
}

.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    user-select: none;
}

.active {
    background-color: var(--accent1);
}

.active > a {
    color: var(--font-secondary);
}

.active > a:hover {
    color: var(--font-primary);
}

/* --------------- media queries ---------------*/
/*600*/
@media (max-width: 689px){
    .sticky{
        top: -7%;
    }

    nav {
        font-size: 1rem;
        grid-template-columns: 0.1fr 1.5fr 0.1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px 0 0 0;
        row-gap: 0.5rem;
    }

    /*title*/
    nav > div {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;

        width: 3.5rem;
        height: auto;
        padding: 8px 0;
        font-size: clamp(10px, 3vw, 0.8rem);
        
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    /* Cepe */
    nav > div > span:last-child{ 
        letter-spacing: 0.5px;
    }

    /* list */
    nav > ul {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        
        height: clamp(30px, 6vw, 50px);
        width: 80%;
        min-width: 200px;
        max-width: 350px;
        margin-right: 0; 
        margin-left: 0;
        padding: 5px 5px;
        gap: 0;
        justify-content: space-between;
    }

    nav > ul > li {
        flex-basis: auto;
        margin-left: 0;
        font-size: clamp(0.9rem, 3vw, 1.2rem);
        border-radius: var(--radius);
        padding: 1px 5px;
    }

    /* button */
    nav > button {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        margin-right: 1rem;
    }

    nav > button > img {
        width: 30px;
    }

    nav > button > img[src="/src/assets/moon.svg"] {
        width: 25px;
    }
}
    
