header {
    min-height: 10vh;
    font-size: 1.2rem;
}

header > nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

/* website logo */
nav > div {
    width: 5rem;
    font-weight: bolder;
    background-color: var(--black1);
    color: var(--white2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* list */
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: auto; 
    
    display: flex;
    align-items: center;
}

nav > ul a {
    text-decoration: none;
    color: var(--black1);
}

nav > ul > li {
    padding-left: 2vw;
}

/* nav button */
nav > button {
    border: none;
    background-color: transparent;
}

nav > button > img {
    height: 60%;
    object-fit: cover;
}

@media (min-width: 600px){

}
    
