#projects-section {
    width: 95vw;
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    /* padding: 5rem 3%; */
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 30vw, 500px), 1fr));
    gap: 3rem;

}

.card {
    background-color: var(--bg-tertiary);
    border: 2px solid var(--bg-secondary);
    color: var(--font-primary);
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* font-size: clamp(1rem, 0.5vw + 0.75rem, 1.125rem); */
    font-size: clamp(0.875rem, 1vw + 0.375rem, 1.125rem);
}

/* ---------- vid/image cont - upper ---------- */
.card > div:first-child {
    flex:1;
    background-color: black;
}

.card > div:first-child > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    background-color: gray;
    object-fit: cover;
}

.card > div:first-child > video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;  
}

.card > div:first-child > video:hover {
    animation: fade 0.5s;
}

@keyframes fade {
    0% {opacity: 1;}
    5% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

/* ---------- content cont - lower ---------- */
.card > div:last-child * {
    /* outline: red solid 1px; */
}

.card > div:last-child {
    flex:1;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
    align-items: center;
    row-gap: 0.5rem;
}

/* title */
.card > div:last-child > p:first-child{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-wrap: balance;

    /* font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem); */
    font-size: clamp(1.125rem, 1.5vw + 0.375rem, 1.5rem);
    font-weight: bold;
    transition: color 0.2s ease-out;
}

.card:hover > div:last-child > p:first-child {
    color: var(--accent1);
}

/* date */
.card > div:last-child > span{
    grid-column: 4 / 5;
    margin-left: auto;

    color: var(--font-tertiary);
    /* font-size: 1rem; */
    font-size: clamp(0.875rem, 0.5vw + 0.625rem, 1rem);
    font-style: italic;
    font-weight: 200;
}

/* tags */
.card > div:last-child > ul{
    grid-column: 1 / 5;
    
    max-height: 200px;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* description */
.card > div:last-child > p:nth-child(4){
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    /* text-wrap: balance; */
}

/* button links */
.card > div:last-child > div:last-child {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    height: auto;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card > div:last-child > div:last-child > a{
    justify-self: center;
    text-align: center;

    font-size: clamp(0.875rem, 0.5vw + 0.625rem, 1rem);
    border: 2px solid var(--bg-secondary);
    color: var(--accent1);
    text-decoration: none;
    
    min-width: 100px;
    padding: 0.4rem;
    border-radius: 10px;
    transition: color 0.15s ease-out;
}

.card > div:last-child > div:last-child > a:visited{
    color: var(--accent1);
}

.card > div:last-child > div:last-child > a:hover{
    background-color: var(--accent1);
    color: white;
}

.card > div:last-child > div:last-child > a::after{
    content: " 🔗";
}

/* ---------- media query ---------- */
@media (max-width: 800px) {
    #projects-section {
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .card > div:last-child {
        grid-template-rows: 0.4fr 0.3fr 2fr 0.5fr;
        row-gap: 0.3rem;
    }

    /* tags */
    .card > div:last-child > ul > li.tag{
        font-size: 12px;
    }
}
