.tag {
    font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);
    background-color: #cec0a1;
    color: var(--black1);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

.tag[data-value="html" i] {
    background-color: #FF5722;
    color: white;
}

.tag[data-value="css" i] {
    background-color: #0096DC;
    color: white;
}

.tag[data-value="markdown" i] {
    background-color: #535358;
    color: white;
}

.tag[data-value="javascript"i], 
.tag[data-value="js"i]{
    background-color: #FFDF00;
}

.tag[data-value="json" i] {
    background-color: #9777A8;
    color: #E9E9E0;
}

.tag[data-value="React" i] {
    background-color: #61DAFB;
}

.tag[data-value="Git & GitHub" i] {
    background-color: #F05033;
    color: white;
}

.tag[data-value="webpack" i] {
    background-color: #8ED6FB;
    color: #135c93;
}

.tag[data-value="vite" i] {
    background-color: #926AFF;
    color: #FFD72F;
    
}

.tag[data-value="eslint & prettier" i] {
    background-color: #512BCB;
    color: #d8d7ff;
}

.tag[data-value="jest" i] {
    background-color: #3B3738;
    color: #da431a;
}

.tag[data-value="babel" i] {
    background-color: #323330;
    color: #F9DC3E;
}

.tag[data-value="npm" i] {
    background-color: #CB3837;
    color: white;
}

.tag[data-value="vscode" i] {
    background-color: #1F9CF0;
    color: white;
}

.tag[data-value="xubuntu" i] {
    background-color: #0044AA;
    color: white;
}

.tag[data-value="windows" i] {
    background-color: #00ADEF;
    color: white;
}

/*================ Design ================*/
.tag[data-value="figma" i] {
    background-color: #2E3139;
    color: #0ACF84;
}

.tag[data-value="illustrator" i] {
    background-color: #330000;
    color: #FF9A00;
}

.tag[data-value="notion" i] {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.tag[data-value="ms office suite" i] {
    background-color: #FF5722;
    color: white;
}

.tag[data-value="google workspace" i] {
    background-color: #00AC48;
    color: white;
}

/*================ Communication ================*/
.tag[data-value="filipino" i] {
    background-color: white;
    color: #1E419C;
}

.tag[data-value="filipino" i]:after{
    content: " 🇵🇭"
}

.tag[data-value="english" i] {
    background-color: white;
    color: #BE0B31;
}

.tag[data-value="english" i]:after {
    content: " 🇺🇸";
}

/*================ Others ================*/

.tag[data-value="C" i] {
    background-color: #0180CD;
    color: white; 
}
.tag[data-value="java" i] {
    background-color: #bbd9e7;
    color: #EC2025;
    
}
.tag[data-value="python" i] {
    background-color: #376F9F;
    color: #FFDD4E;
}
.tag[data-value="r" i] {
    background-color: #ABACB0;
    color: #1F65B7;
}
.tag[data-value="php" i] {
    background-color: #777BB3;
    color: black;
}
.tag[data-value="sql" i] {
    background-color: #00BCF2;
    color: white;
}
.tag[data-value="visual basic" i],
.tag[data-value="vb" i] {
    background-color: #0C36AC;
    color: white;
}
.tag[data-value="Turbo C++" i] {
    background-color: #6F6F6F;
    color: #FDFF00;
}
.tag[data-value="Dev-C++" i] {
    background-color: #003987;
    color: white;
}
.tag[data-value="Notepad++" i] {
    background-color: #8CDC36;
    color:black;
}
.tag[data-value="NetBeans" i] {
    background-color: #9EC7FD;
    color: #3A4972;
}
.tag[data-value="IntelliJ IDEA" i] {
    background-color: #F73461;
    color: #000000;
}
.tag[data-value="Jupyter Notebook" i] {
    background-color: #F37726;
    color: #3b3b3b;
}
.tag[data-value="Anaconda" i] {
    background-color: #41AF28;
    color: white;
}
.tag[data-value="Google Collab" i] {
    background-color: #E8710A;
    color: white;
}
.tag[data-value="RStudio" i] {
    background-color: #75AADB;
    color: white;
}
.tag[data-value="Proteus" i] {
    background-color: #1C79B3;
    color: white;
}
.tag[data-value="MATLAB" i] {
    background-color: #FFA600;
    color: black;
}
.tag[data-value="Cisco packet tracer" i] {
    background-color: #0A8AF7;
    color: white;
}
.tag[data-value="Lucid Chart" i] {
    background-color: #F78D1E;
    color: rgb(60, 60, 60);
}
.tag[data-value="Access" i] {
    background-color: #B02233;
    color: white;
}
.tag[data-value="MySql" i] {
    background-color: #5382A1;
    color: white;
}
.tag[data-value="JavaFX" i] {
    background-color: #E76F00;
    color: #20333d;
}
.tag[data-value="Scene Builder" i] {
    background-color: #E76F00;
    color: white;
}
.tag[data-value="Bootstrap Studio" i] {
    background-color: #BA58F2;
    color: white;
}
.tag[data-value="Photoshop" i] {
    background-color: #001E36;
    color: #31A8FF;
}
.tag[data-value="Spline" i] {
    background-color: #FF3BF3;
    color: #372236;
}
.tag[data-value="Effect House" i] {
    background-color: #4C318A;
    color: white;
}
.tag[data-value="Blender" i] {
    background-color: #EA7600;
    color: #265787;
}
.tag[data-value="Unreal Engine" i] {
    background-color: white;
    color: black;
}
.tag[data-value="Davinci Resolve" i] {
    background-color: #1F3347;
    color: #EF4F51;
}
.tag[data-value="Audacity" i] {
    background-color: #2B3D90;
    color: #FDC46D;
}
.tag[data-value="Obsidian" i] {
    background-color: #181E52;
    color: #8b5cd5;
}
.tag[data-value="Numpy" i] {
    background-color: #4D77CF;
    color: white;
}
.tag[data-value="Pandas" i] {
    background-color: #180D58;
    color: white;
}
.tag[data-value="Matplotlib" i] {
    background-color: #205A7E;
    color: white;
}
.tag[data-value="TensorFlow" i] {
    background-color: #ED8E24;
    color: white;
}
.tag[data-value="Scikit-learn" i] {
    background-color: #F89939;
    color: #010101;
}
.tag[data-value="PyTorch" i] {
    background-color: #EE4C2C;
    color: white;
}
.tag[data-value="Flask" i] {
    background-color: #3EABBF;
    color: white;
}
.tag[data-value="NodeJs" i] {
    background-color: #83CD29;
    color: #414238;
}
.tag[data-value="Express" i] {
    background-color: #EDD82E;
    color: black;
}
